
<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Sign Up</title>
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <style>

     body{
       background: url("{%static 'images/wood1.jpg' %}");

        }

    </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> <i class="fa fa-upload" aria-hidden="true"></i> Upload To Win!</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="li"><a href="#bot">About</a></li>
        <li class="li"><a href="login/"> <i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<br>
<br>

<h2> Upload Pictures! Win Points!</h2>
<br><br>
<form class="form-horizontal" role="form" method="post">
    {% csrf_token %}
  <div class="form-group">

    <label class= "col-lg-4 control-label" for="username"></label>
    <div class="input-group col-lg-4">
   <div class="input-group-addon">
    <i class="fa fa-user" aria-hidden="true"></i>
   </div>
    <input type="text" class="form-control" id="username" name= "username" placeholder="Username" value="{{ username }}" pattern=".{4,}"   required title="Username should be atleast 4 characters long" required >
    </div>
  </div>
  <div class="form-group">
    <label class= "col-lg-4 control-label" for="name"></label>
    <div class="input-group col-lg-4">
   <div class="input-group-addon">
    <i class="fa fa-user-circle" aria-hidden="true"></i>
   </div>
    <input type="text" class="form-control col-lg-3" id="name" name="name" placeholder="Name" value="{{ name }}" required>
    </div>
  </div>
  <div class="form-group">
    <label class= "col-lg-4 control-label" for="email"></label>
    <div class="input-group col-lg-4">
   <div class="input-group-addon">
    <i class="fa fa-envelope-o"></i>
   </div>
    <input type="email" class="form-control col-lg-3" name="email" id="email" placeholder="Email" value="{{ email }}" required>
    </div>
  </div>
  <div class="form-group">
    <label class= "col-lg-4 control-label" for="password"></label>
    <div class="input-group col-lg-4">
   <div class="input-group-addon">
    <i class="fa fa-key" aria-hidden="true"></i>
   </div>
    <input type="password" class="form-control col-lg-3" id="password" name="password" placeholder="Password" value="{{ password }}" pattern=".{5,}"   required title="Password should be atleast 5 characters long" required>
    </div>
  </div>
  <div class="form-group">
    <label class= "col-lg-4 control-label"></label>
    <div class="col-lg-4">
<input  type="submit" class="btn btn-success btn-block" value="Sign Up & Start Uploading">
</div>
</div>
</form>
<br>
<a name="bot">
<br>

<div class="bottom">
<div class="container">
<div class="jumbotron">

 <h2>Upload Images of a particular brand or product and Win Points!</h2>
</div>
</div>

<div class="container">
<div class="jumbotron">
 <h2>Challenge your Friends and make your own Record!</h2>
</div>
</div>

<div class="container">
<div class="jumbotron">
     <h2>Make sure that the brands are recognized else you wont be awarded any points.</h2>
    <br>
     <h2>Points will vary from 0-10.</h2>
    <br>
     <h2>SignUp to create an account else login.</h2>

</div>
</div>
</div>


</body>
</html>