<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success Page</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<br>
<br>
<br>
<div class="container">
<div class="jumbotron">
<h2> Congratulations! Signed Up Successfully!</h2>
<h3>Login To Continue!</h3>
    <form method="get" action="/login/">
<button class="btn btn-lg btn-success">Login</button>
    </form>
</div>
</div>
</body>
</html>