


h2{
    text-align:center;

    font-family: Cuprum !important;

    color:white !important;
}

.navbar{
    height: 100px !important;
    background-color: rgba(0,0,0,0.5) !important;
    color: black !important;
    border: 0 !important;
    padding-top: 20px !important;
}
.navbar-brand{
    font-size: 35px !important;
    font-family: Julius Sans One !important;
    color:black !important;
}

li{
    font-size: 25px !important;
    padding: 10px !important;
    font-family: Julius Sans One !important;
}

  a{
    color:black !important;
  }



  .jumbotron{
    background-color: rgba(0,0,0,0.5) !important;
}

